@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #3a5bff;
  --color-warning: #cc5f5f;
  --color-secondary: #ffcc91;
  --color-surface: #f9f9fc;
  --color-dark: #353535;
  --color-neutral: #9ca3af;
  --color-body: #6e7079;
  --color-icon: #a3a9b6;
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
